langchain
langchain-community
chromadb
pyshark
python-nmap
sentence-transformers
chepy
requests
duckduckgo-search
bs4
fastapi
uvicorn
pwntools
unsloth
datasets
peft
transformers
torch
volatility3
pymetasploit3
python-dotenv
python-multipart
